<div class="row">
  <div class="col-12">
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid" id="display" style="padding: none">
      <!-- User Buttons -->
      <div class="user-btn">
        <a href="/join"><button class="btn btn-lg btn-warning"><span class="join"></span>
            JOIN</button></a>
        <a href="/post"><button class="btn btn-lg btn-warning"><span class="post"></span>
            POST</button></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
  </div>
</div>